#visual .visual_img{
    background-image: url(../img/project7/personal7_visual.png);
	background-position: center;
	background-repeat: no-repeat;
}
#container img{
	width: 100%;
}
#container h3.sub_tit{
	font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Nexa';
	box-sizing: border-box;
}
#container p.desc,
#container p.desc1,
#container p.desc2{
	line-height: 1.5;
    font-size: 1.7rem;
	margin-bottom: 15px;
}
#container .container3,
#container .container4,
#container .container5,
#container .container6,
#container .container7{
    padding: 0 40px;
    width: 83%;
    max-width: 1245px;
    text-align: left;
	box-sizing: border-box;
	margin-top: 80px;
}
#container .container3 .desc a{
	margin-top: 20px;
	display: block;
	text-decoration: underline;
	-webkit-animation-name:movingPara;
	-webkit-animation-duration:4s;
	animation-name:movingPara;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
#container .container3 .con3_img{
	margin-top: 40px;
}
#container .container4 .desc a{
	display: block;
	text-decoration: underline;
	-webkit-animation-name:movingPara;
	-webkit-animation-duration:4s;
	animation-name:movingPara;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
#container .container4 .con4_img{
	margin-top: 40px;
}
#container .container5 .desc a{
	display: block;
	text-decoration: underline;
	-webkit-animation-name:movingPara;
	-webkit-animation-duration:4s;
	animation-name:movingPara;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
#container .container5 .con5_img{
	margin-top: 40px;
}
#container .container6 .desc a{
	display: block;
	text-decoration: underline;
	-webkit-animation-name:movingPara;
	-webkit-animation-duration:4s;
	animation-name:movingPara;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
#container .container6 .con6_img{
	margin-top: 40px;
}

@-webkit-keyframes movingPara{
	0%{color:orange}
	20%{color:#ff0}
	40%{color:red}
	80%{color:#00f}
	100%{color:orange}
}
@keyframes movingPara{
	0%{color:orange}
	20%{color:#ff0}
	40%{color:red}
	80%{color:#00f}
	100%{color:orange}
}

/**********(1200)***********/
@media screen and (max-width: 1200px){
	#container .container3,
	#container .container4,
	#container .container5,
	#container .container6,
	#container .container7{
		width: 92%;
	}
}
/*****(1024-780)*****/
@media screen and (max-width: 1024px){
}
/*****(780)*****/
@media screen and (max-width: 780px){
	#container .container3,
	#container .container4,
	#container .container5,
	#container .container6,
	#container .container7{
		margin-top: 60px;
		padding: 0;
	}
	#container .container3 .sub_tit,
	#container .container4 .sub_tit,
	#container .container5 .sub_tit,
	#container .container6 .sub_tit,
	#container .container7 .sub_tit{
    	font-size: 3rem;
	}
}
/***********(480)**********/
@media screen and (max-width: 480px){
	#container .container3,
	#container .container4,
	#container .container5,
	#container .container6,
	#container .container7{
		margin-top: 40px;
	}
	#container .container3 .sub_tit,
	#container .container4 .sub_tit,
	#container .container5 .sub_tit,
	#container .container6 .sub_tit,
	#container .container7 .sub_tit{
    	font-size: 2rem;
	}
}
/*****(375)*****/
@media screen and (max-width: 375px){  
}
/*****寃붾윮��(360)*****/
@media screen and (max-width: 360px){ 
}














