#visual .visual_img{
    background-image: url(../img/project6/personal6_visual.png);
	background-position: center;
	background-repeat: no-repeat;
}
#container h3.sub_tit{
	font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Nexa';
	box-sizing: border-box;
}
#container p.desc{
	line-height: 1.5;
    font-size: 1.7rem;
	margin-bottom: 15px;
}
#container .container2 .sub_tit1{
	text-align: center;
	float: none;
	width: 100%;
	margin-bottom: 40px;
}
#container .container2 .desc_list2 li{
	float: left;
	width: calc(100%/3);
	text-align: left;
	height: 250px;
	position: relative;
}
#container .container2 .desc_list2 li img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 350px;
}
#container .container2 .desc_list2 li p{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translate(0, 100%);
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 1.5;
    font-size: 1.7rem;
}
#container .container2 .desc_list2 li .color1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Nexa',sans-serif;
    color: #fff;
    font-weight: 300;
	background: #162149;
}
#container .container2 .sub_tit2{
	text-align: center;
	float: none;
	width: 100%;
	margin-bottom: 40px;
	padding-top: 70px;
	box-sizing: border-box;
}
#container .container2 .desc2{
	line-height: 1.5;
    font-size: 1.7rem;
	margin-bottom: 15px;
}
#container .container3 .bg{
	background: #eee;
}
#container .container3 .sub_tit{
	text-align: center;
	font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Nexa';
	box-sizing: border-box;
}
#container .container3 .desc_list3{
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
#container .container3 .desc_list3>li{
	float: left;
	width: 50%;
}
#container .container3 .desc_list3 li ul li{
	line-height: 1.5;
    font-size: 1.7rem;
    margin-bottom: 15px;
}
#container .container3 .desc_list3 li ul li .dot{
	font-size: 0.5rem;
    vertical-align: middle;
    margin-right: 10px;
}
#container .container3 .desc_list4{
	width: 60%;
	margin: 150px auto;
}
#container .container3 .desc_list4 li{
	position: relative;
	float: left;
	width: 25%;
}
#container .container3 .desc_list4 li .bg{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #162149;
	box-sizing: border-box;
	border-radius: 200px;
	background: none;
	width: 200px;
	height: 200px;
	z-index: 20
}
#container .container3 .desc1{
	line-height: 1.5;
    font-size: 1.7rem;
    margin-bottom: 15px;
	width: 60%;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
	text-align: left;
}


#container .container4{
	width: 83%;
	padding: 0 40px;
	box-sizing: border-box;
}
#container .container4 .container4_img{
	width: 50%;
	margin: 0 auto;
	float: left;
	padding: 0 5px;
	box-sizing: border-box;
}
#container .container4 .container4_img img{
	width: 100%;
}
#container .container5{
	width: 100%;
	padding: 0;
	overflow: hidden;
}
#container .container5 img{
	width: 100%;
}

#container .container6{
	width: 83%;
	margin-top: 100px;
	padding: 0 40px;
	box-sizing: border-box;
	text-align: left;
}

#container .container7{
	width: 83%;
	margin-top: 100px;
	padding: 0 40px;
	box-sizing: border-box;
	text-align: left;
}
#container .container7 .desc_list{
	margin-bottom: 20px;
	margin-top: 50px;
}
#container .container7 .desc_list>li{
	float: left;
	width: 50%;
	padding: 0 5px;
	box-sizing: border-box;
}
#container .container7 .desc_list>li img{
	width: 100%;
}
#container .container7 .desc_list>li ul>li{
	float: left;
	line-height: 1.5;
    font-size: 1.7rem;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid #22408f;
	border-radius: 50px;
	box-sizing: border-box;
	color: #22408f;
}


/**********(1200)***********/
@media screen and (max-width: 1200px){
	#container .container3 .desc_list4{
		width: 75%;
	}
	#container .container3 .desc_list4 li .bg{
		width: 180px;
		height: 180px;
		border: 2px solid #162149;
	}
	#container .container3 .desc1{
		width: 75%;
	}
	#container .container4{
		width: 100%;
	}
}
/*****(1024-780)*****/
@media screen and (max-width: 1024px){
	#container .container3 .desc_list3{
		width: 70%;
	}
	#container .container3 .desc_list4{
		width: 100%;
	}
	#container .container3 .desc1{
		width: 100%;
	}
	#container .container6{
		width: 92%;
	}
	#container .container7{
		width: 92%;
	}
	#container .container7 .desc_list>li ul>li{
		font-size: 1.5rem;
		padding: 8px 20px;
	}
}
/*****(780)*****/
@media screen and (max-width: 780px){
	#container .container2 .desc_list2 li{
		float: none;
		width: 100%;
		height: 300px;
	}
	#container .container2 .desc_list2 li img{
		top: 0;
		transform: translate(-50%, 0);
	}
	#container .container2 .desc_list2 li:last-child img{
		top: 50%;
		transform: translate(-50%, -50%);
	}
	#container .container2 .desc_list2 li p{
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 80%;
	}
	#container .container2 .sub_tit2{
		padding-top: 60px;
	}
	#container .container3 .desc1{
		padding: 0;
	}
	#container .container3 .desc_list3{
		width: 100%;
	}
	#container .container3 .desc_list3 li ul li{
		font-size: 1.3rem;
	}
	#container .container3 .desc_list4 li .bg{
		width: 160px;
		height: 160px;
	}
	#container .container4{
		width: 92%;
		padding: 0 20px;
	}
	#container .container4 .container4_img{
		float: none;
		width: 100%;
		padding: 5px 0;
	}
	#container .container6{
		padding: 0;
	}
	#container .container7{
		padding: 0;
	}
	#container .container7 .desc{
		margin-bottom: 50px;
	}
	#container .container7 .desc_list{
		margin: 0;
	}
	#container .container7 .desc_list>li{
		float: none;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 40px;
	}
}
/***********(480)**********/
@media screen and (max-width: 480px){
	#container .container2 .desc_list2 li p{
		width: 100%;
	}
	#container .container2 .desc_list2 li:first-child{
		height: 350px;
	}
	#container .container3 .desc_list4 li .bg{
		width: 110px;
		height: 110px;
		border: 1px solid #162149;
	}
	#container .container4{
		padding: 0;
	}
	#container .container7 .desc_list>li{
		padding: 0;
	}
}
/*****(375)*****/
@media screen and (max-width: 375px){  
}
/*****寃붾윮��(360)*****/
@media screen and (max-width: 360px){ 
}














