body{
    overflow-x: hidden;
}
#header .header_menu{
	background: #22408f;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line{
	background: #fff;
}
#container{
	position: relative;
	margin-top: 80px;
}
#container .container1,
#container .container2,
#container .container3,
#container .container3 .con3_tit,
#container .container4,
#container .container5,
#container .container6{
	position: relative;
    width: 83%;
    max-width: 1245px;
    padding: 0 40px;
	padding-top: 80px;
    box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
}
#container .title{
    text-align: left;
    font-weight: 700;
	box-sizing: border-box;
	font-family: 'Nexa',sans-serif;
	font-size: 4rem;
}
#container .desc{
    line-height: 1.5;
	margin-top: 50px;
}
#container .container1{
	height: 500px;
	overflow: hidden;
	width: 100%;
    max-width: 100%;
	padding: 0;
}
#container .container1 .con1_img{
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translate(-50%, -50%);
	z-index: -1
}

#container .container1 .con1_img .bg1{
	position: relative;
}
#container .container1 .con1_img .bg1 img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
    -webkit-animation: selfbg1 5s ease infinite;
	animation: selfbg1 5s ease infinite;
}
#container .container1 .con1_img .bg2{
	position: relative;
}
#container .container1 .con1_img .bg2 img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -30%);
	width: 500px;
	-webkit-animation: selfbg2 4.7s ease infinite;
	animation: selfbg2 4.7s ease infinite;
}
#container .container1 .con1_img .bg3{
	position: relative;
}
#container .container1 .con1_img .bg3 img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-65%, -25%);
	width: 600px;
	-webkit-animation: selfbg3 4.5s ease infinite;
	animation: selfbg3 4.5s ease infinite;
}
#container .container1 .con1_img .bg4{
	position: relative;
}
#container .container1 .con1_img .bg4 img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-70%, -20%);
	width: 700px;
	-webkit-animation: selfbg4 4.3s ease infinite;
	animation: selfbg4 4.3s ease infinite;
}

@-webkit-keyframes selfbg1{
    0% { -webkit-transform: translate(-50%, -50%);}
	50% { -webkit-transform: translate(-50%, -80%);}
	100% { -webkit-transform: translate(-50%, -50%);}
} 
@keyframes selfbg1{
    0% { transform: translate(-50%, -50%);}
	50% { transform: translate(-50%, -80%);}
    100% { transform: translate(-50%, -50%);}
}

@-webkit-keyframes selfbg2{
    0% { -webkit-transform: translate(-60%, -30%);}
	50% { -webkit-transform: translate(-60%, -70%);}
	100% { -webkit-transform: translate(-60%, -30%);}
} 
@keyframes selfbg2{
    0% { transform: translate(-60%, -30%);}
	50% { transform: translate(-60%, -70%);}
    100% { transform: translate(-60%, -30%);}
}

@-webkit-keyframes selfbg3{
    0% { -webkit-transform: translate(-65%, -25%);}
	50% { -webkit-transform: translate(-65%, -60%);}
	100% { -webkit-transform: translate(-65%, -25%);}
} 
@keyframes selfbg3{
    0% { transform: translate(-65%, -25%);}
	50% { transform: translate(-65%, -60%);}
    100% { transform: translate(-65%, -25%);}
}

@-webkit-keyframes selfbg4{
    0% { -webkit-transform: translate(-70%, -20%);}
	50% { -webkit-transform: translate(-70%, -50%);}
	100% { -webkit-transform: translate(-70%, -20%);}
} 
@keyframes selfbg4{
    0% { transform: translate(-70%, -20%);}
	50% { transform: translate(-70%, -50%);}
    100% { transform: translate(-70%, -20%);}
}
#container .container1 .con1_tit{
	width: 83%;
    max-width: 1245px;
    padding: 0 40px;
    box-sizing: border-box;
	margin: 0 auto;
	margin-top: 100px;
}
#container .container1 .con1_tit .tit1{
	margin-bottom: 20px;
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: -1px;
	animation-delay: 0.8s;
}
#container .container1 .con1_tit .tit2{
	margin-bottom: 20px;
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.3;
	animation-delay: 1.2s;
}
#container .container1 .con1_tit ul{
	margin-top: 30px;
	position: relative;
	animation-delay: 1.5s;
}
#container .container1 .con1_tit ul li{
	margin-bottom: 20px;
}
#container .container1 .con1_tit ul .nbti{
	float: left;
	font-size: 3.5rem;
	font-weight: 700;
}
#container .container1 .con1_tit ul .nbti_line{
	position: absolute;
	top: 10px;
	left: -10px;
	width: 90px;
	height: 30px;
	background: #22408f;
	opacity: 0.5;
	z-index: -1;
}
#container .container1 .con1_tit ul .nbti_desc{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
#container .container1 .con1_tit .con1_desc{
	float: left;
	width: 100%;
	margin-top: 20px;
	animation-delay: 1.8s;
}
#container .container1 .con1_tit .con1_desc .desc{
	margin-top: 10px;
	line-height: 1.8;
}
#container .container1 .con1_tit .con1_desc .desc img{
	width: 30px;
	margin-right: 15px;
}

#container .container2{
	padding-top: 120px;
}
#container .container2 .chart ul{
	margin-top: 50px;
}
#container .container2 .chart ul li p{
	float: left;
	margin-bottom: 20px;
}
#container .container2 .chart ul li p.chart_tit{
	width: 15%;
	letter-spacing: 2px;
	padding-top: 8px;
	box-sizing: border-box;
	position: relative;
}
#container .container2 .chart ul li p.chart_tit .dot{
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #22408f;
	border-radius: 50%;
	top: 5px;
	left: -7px;
}
#container .container2 .chart ul li:nth-child(2) p.chart_tit .dot{
	left: 0;
}
#container .container2 .chart ul li p.chart_t{
	width: 15%;
	padding-top: 8px;
	box-sizing: border-box;
}
#container .container2 .chart ul li p.chart_line{
	width: 70%;
	height: 30px;
	box-sizing: border-box;
	border: 2px solid #22408f;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
}
#container .container2 .chart ul li p.chart_line .line{
	position: absolute;
	top: -2px;
	left: -2px;
	background: #22408f;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	border-radius: 30px;
	box-sizing: border-box;
	z-index: -1;
	opacity: 0;
}
#container .container2 .chart ul li p.chart_line .line1{
	width: 68%;
}
#container .container2 .chart ul li p.chart_line .line2{
	width: 56%;
}
#container .container2 .chart ul li p.chart_line .line3{
	width: 63%;
}
#container .container2 .chart ul li p.chart_line .line4{
	width: 75%;
}

#container .container3{
    margin-top: 70px;
    background-color: #22408f;
    color: #fff;
    padding: 70px 0;
    width: 100%;
	max-width: 100%;
}
#container .container3 .con3_tit{
	padding-top: 0;
}
#container .container3 .con3_tit .desc{
	float: left;
	width: 50%;
	padding: 0;
	padding-right: 10px;
	padding-top: 30px;
}
#container .container3 .con3_tit .desc button{
	border: 2px solid #fff;
	background: none;
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	line-height: 2;
	padding: 5px 30px;
	border-radius: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	margin-top: 30px;
	display: block;
}
#container .container3 .con3_tit .desc button:hover{
	background: #fff;
	color: #22408f;
}
#container .container3 .con3_tit .desc button a{
	display: block;
}
#container .container3 .con3_tit .con3_img{
	float: right;
	width: 35%;
}
#container .container3 .con3_tit .con3_img img{
	width: 100%;
}
#container .container3 .title,
#container .container3 .desc{
	width: 83%;
    max-width: 1245px;
    padding: 0 40px;
	box-sizing: border-box;
	margin: 0 auto;
}
#container .container4 .con4_chapter{
	font-size: 2.5rem;
    line-height: 1.5;
	font-family: 'Nexa',sans-serif;
	font-weight: 700;
	padding-top: 20px;
	box-sizing: border-box;
}
#container .container4 .con4_tit{
	line-height: 1.5;
    font-size: 1.7rem;
	margin-top: 10px;
}
#container .container4 .con4_tit .tit{
	font-weight: 700;
	margin-right: 20px;
}
#container .container4 .con4_tit .tit_sub{
    font-size: 1.3rem;
	color: #22408f;
}
#container .container4 .con4_t{
	line-height: 2;
    font-size: 1.5rem;
	margin-top: 10px;
	font-weight: 100;
}
#container .container4 .con4_t b{
	color: #22408f;
	font-weight: normal;
}
#container .container5 .title5{
	margin-bottom: 20px;
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: -1px;
	animation-delay: 0.8s;
}


/**********(1200)***********/
@media screen and (max-width: 1200px){
	#container .container1 .con1_tit,
	#container .container2,
	#container .container3 .con3_tit,
	#container .container4,
	#container .container5{
		width: 92%;
	}
}
/*****(1024-780)*****/
@media screen and (max-width: 1024px){
	#container {
		margin-top: 66px;
	}
}
/*****(780)*****/
@media screen and (max-width: 780px){
	#container{
		margin-top: 55px;
	}
	#container .container1 .con1_tit,
	#container .container2,
	#container .container3 .con3_tit,
	#container .container4,
	#container .container5{
		padding: 0;
		padding-top: 40px;
	}
	#container .container1 .con1_img{
		top: 90%;
		right: 0;
	}
	#container .container1 .con1_tit{
		margin-top: 40px;
	}
	#container .container1 .con1_tit .title{
		font-size: 5rem;
	}
	#container .container2 .chart ul li p.chart_tit{
		width: 25%;
	}
	#container .container2 .chart ul li p.chart_line{
		width: 60%;
	}
	#container .container3 .con3_tit{
		padding-top: 0;
	}
	#container .container3 .con3_tit .desc{
		width: 100%;
	}
	#container .container3 .con3_tit .desc button{
		margin: 0 auto;
		margin-top: 50px;
	}
	#container .container3 .con3_tit .con3_img{
		width: 100%;
		padding: 10%;
		box-sizing: border-box;
		margin-top: 30px;
	}
}
/***********(480)**********/
@media screen and (max-width: 480px){
    #container{
        margin-top: 50px
    }
	#container .container1 .con1_img{
		top: 100%;
		right: 0;
	}
	#container .container1 .con1_tit{
		margin-top: 20px;
	}
	#container .container1 .con1_tit .title{
		font-size: 3rem;
	}
	#container .container2 .chart ul li p.chart_tit{
		width: 30%;
	}
	#container .container2 .chart ul li p.chart_t{
		width: 20%;
	}
	#container .container2 .chart ul li p.chart_line{
		width: 50%;
	}
	#container .container3 .con3_tit .con3_img{
		padding: 0;
		margin-top: 50px;
	}
}
/*****(375)*****/
@media screen and (max-width: 375px){
}
/*****(365)*****/
@media screen and (max-width: 360px){
}
















