body{
    font-family: 'SpoqaHanSans','Nexa',sans-serif;
    color: #222;
    max-width: 1920px;
    margin:0 auto;
}
#header .header_menu{
	background: #22408f;
}
#header .header_menu .top .header_mobile .m_hambtn .m_line, #header .header_menu .top .header_web .hambtn .line{
	background-color: #fff;
}
#visual{
    padding-top: 80px;
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
	background: url(../img/conpany_bg.jpg) no-repeat;
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#visual .wrapper .location{
    position: absolute;
    top:40px;
    right: 0;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Nexa',sans-serif;
}
#visual .wrapper .visualwrap{
    max-width: 1920px;
    margin: 0 auto;
	padding-bottom: 180px;
}
#visual .wrapper .visualwrap::after{
    background-color: #222;
    height: 5px;
    position: absolute;
    top:60px;
    right:0;
	width:100%;
    content: '';
    display: block;
	transform: translateX(60%);
}
#visual .wrapper .visualwrap .tit{
    font-family: 'Nexa',sans-serif;
    font-weight: 700;
    font-size: 10rem;
    line-height: 1.2;
    letter-spacing: -3px;
}
#visual .wrapper .visualwrap .visual_desc{
    line-height: 1.55;
    width: 40%;
    box-sizing: border-box;
    margin-top: 60px;
    margin-right: 2%
}
/********************container**********************/
#container{
	margin-top: 50px;
}
#container .container1{
    margin-bottom: 100px;
}
#container .container1 .content{
    width: 100%;
    font-size: 0;
    overflow-x: hidden
}
#container .container1 .content li{
    display: inline-block;
    width: calc(100%/3);
    padding: 2%; 
    box-sizing: border-box;
    position: relative;
    margin-bottom:30px;
    opacity: 0;
    margin-top: 100px;
}
#container .container1 .content li:nth-child(1),
#container .container1 .content li:nth-child(2),
#container .container1 .content li:nth-child(3){
    margin-top: 0;
    opacity: 1
}
#container .container1 .content li:nth-child(3),
#container .container1 .content li:nth-child(6),
#container .container1 .content li:nth-child(9),
#container .container1 .content li:nth-child(12),
#container .container1 .content li:nth-child(15),
#container .container1 .content li:nth-child(18),
#container .container1 .content li:nth-child(21),
#container .container1 .content li:nth-child(24){
    margin-right: 0;
}
#container .container1 .content li:nth-child(22),
#container .container1 .content li:nth-child(23),
#container .container1 .content li:nth-child(24){
    margin-bottom: 0;
}
#container .container1 .content li a{
    display: inline-block;
    width: 100%;
}
#container .container1 .content li a .hidden{
     overflow: hidden;
	position: relative;
}
#container .container1 .content li a .hidden .bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 19vw;
    text-indent: 9999px;
}
#container .container1 .content .portbox1 a .hidden .bg{
    background-image:url(../img/thum/main_thum1.png);
}
#container .container1 .content .portbox2 a .hidden .bg{
    background-image:url(../img/thum/main_thum2.png);
}
#container .container1 .content .portbox3 a .hidden .bg{
    background-image:url(../img/thum/main_thum3.png);
}
#container .container1 .content .portbox4 a .hidden .bg{
    background-image:url(../img/thum/main_thum4.png);
}
#container .container1 .content .portbox5 a .hidden .bg{
    background-image:url(../img/thum/main_thum5.png);
}
#container .container1 .content .portbox6 a .hidden .bg{
    background-image:url(../img/thum/main_thum26.png);
}
#container .container1 .content .portbox7 a .hidden .bg{
    background-image:url(../img/thum/main_thum28.png);
}
#container .container1 .content .portbox8 a .hidden .bg{
    background-image:url(../img/thum/main_thum17.png);
}
#container .container1 .content .portbox9 a .hidden .bg{
    background-image:url(../img/thum/main_thum18.png);
}
#container .container1 .content .portbox10 a .hidden .bg{
    background-image:url(../img/thum/main_thum7.png);
}
#container .container1 .content .portbox11 a .hidden .bg{
    background-image:url(../img/thum/main_thum8.png);
}
#container .container1 .content .portbox12 a .hidden .bg{
    background-image:url(../img/thum/main_thum9.png);
}
#container .container1 .content .portbox13 a .hidden .bg{
    background-image:url(../img/thum/main_thum10.png);
}
#container .container1 .content .portbox14 a .hidden .bg{
    background-image:url(../img/thum/main_thum19.png);
}
#container .container1 .content .portbox15 a .hidden .bg{
    background-image:url(../img/thum/main_thum11.png);
}
#container .container1 .content .portbox16 a .hidden .bg{
    background-image:url(../img/thum/main_thum20.png);
}
#container .container1 .content .portbox17 a .hidden .bg{
    background-image:url(../img/thum/main_thum21.png);
}
#container .container1 .content .portbox18 a .hidden .bg{
    background-image:url(../img/thum/main_thum22.png);
}
#container .container1 .content .portbox19 a .hidden .bg{
    background-image:url(../img/thum/main_thum12.png);
}
#container .container1 .content .portbox20 a .hidden .bg{
    background-image:url(../img/thum/main_thum13.png);
}
#container .container1 .content .portbox21 a .hidden .bg{
    background-image:url(../img/thum/main_thum14.png);
}
#container .container1 .content .portbox22 a .hidden .bg{
    background-image:url(../img/thum/main_thum15.png);
}
#container .container1 .content .portbox23 a .hidden .bg{
    background-image:url(../img/thum/main_thum23.png);
}
#container .container1 .content .portbox24 a .hidden .bg{
    background-image:url(../img/thum/main_thum24.png);
}
#container .container1 .content li a button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	border-radius: 40px;
	box-sizing: border-box;
	color: #22408f;
	background: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 1.5rem;
	padding: 0 40px;
	display: none;
	cursor: pointer;
	transition: 0.5s;
}
#container .container1 .content li a .desc{
    width: 100%;
    text-align: left;
	padding-top: 20px;
}
#container .container1 .content li a .desc .type .type_desc{
    font-size: 1.5rem;
	margin: 10px 0;
}
#container .container1 .content li a .desc .type .type_dot{
    margin: 5px 0 13px 0;
}
#container .container1 .content li a .desc .thumb_tit{
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.8rem
}
#container .container1 .content li a .desc .date{
    font-size: 1.5rem;
    color:#7a7a7a;
    font-weight: 300;
}
#container .container1 .content li a:hover .hidden .bg{
    animation: pulse 0.7s;
    opacity: 0.1;
    transition: 0.5s;
}
#container .container1 .content li:hover .hidden{
    background: #22408f;
}
#container .container1 .content li:hover button{
	display: block;
	transition: 0.5s;
}
#container .container1 .btn{
    text-align: center
}
#container .container1 .btn a{
    display: inline-block;
    font-family: 'Nexa';
    margin-top:70px;
    color: #000;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 3rem
}
#container .container1 .btn a:hover {
    color: #fe0000;
    transition: 0.4s;
}



/********(1400)************/
@media screen and (max-width: 1400px){
    #visual .wrapper .visualwrap .tit{
        font-size: 9rem;
        line-height: 1.1
    }
    #visual .wrapper .visualwrap::after{
        width:100%;
        top:50px;
		transform: translateX(65%);
    }
    #visual .wrapper .visualwrap .visual_desc{
        width: 45%;
        top:53px;
        font-size: 1.7rem;
        margin-right: 4%;
        margin-top: 50px
    }
}
/*****(1200)*****/
@media screen and (max-width: 1200px){
    #visual .wrapper .visualwrap::after{
        width:10%;
        top:150px;
        left: 0;
		transform: translateX(0);
    }
    #visual .wrapper .visualwrap .visual_desc{
        width: 60%;
        font-size: 1.6rem;
        margin-right: 5%;
        margin-top: 100px
    }
    #visual .wrapper .scroll_down{
        right: -3.5%
    }
    #container .container1 .content li{
        width: 48.5%;
        margin-right:3%;
    } 
    #container .container1 .content li:nth-child(3){
        margin-top: 100px;
        opacity: 0;
    }
    #container .container1 .content li:nth-child(3),
    #container .container1 .content li:nth-child(9),
    #container .container1 .content li:nth-child(15),
    #container .container1 .content li:nth-child(21){
        margin-right: 3%;
    }
    
    #container .container1 .content li:nth-child(2),
    #container .container1 .content li:nth-child(4),
    #container .container1 .content li:nth-child(8),
    #container .container1 .content li:nth-child(10),
    #container .container1 .content li:nth-child(12),
    #container .container1 .content li:nth-child(14),
    #container .container1 .content li:nth-child(16),
    #container .container1 .content li:nth-child(18),
    #container .container1 .content li:nth-child(20),
    #container .container1 .content li:nth-child(22),
    #container .container1 .content li:nth-child(24){
        margin-right: 0
    }
    #container .container1 .content li:nth-child(22){
        margin-bottom: 70px;
    }
    #container .container1 .content li:nth-child(23),
    #container .container1 .content li:nth-child(24){
        margin-bottom: 0px;
        overflow-y: hidden;
    }
    #container .container1 .content li a{
        height: 25vw;
    }
    #container .container1 .content li a .hidden .bg{
        height: 25vw;
    }
    #container .container1 .content li a .desc{
        display: block;
        text-align: left;
        position: static;
        transform: translateX(0);
        margin-top: 18px;
        margin-bottom: 50px
    }
    #container .container1 .content li a .desc .type .type_dot img{
        display: none;
    }
    #container .container1 .content li a .desc .type .type_dot::after{
        content: '';
        display: block;
        width: 7%;
        background-color: #fe0000;
        height: 1px;
        margin: 7px 0 14px 0;
    }
    #container .container1 .content li a .desc .thumb_tit{
        font-weight: 400;
        font-size: 2rem;
        padding: 0;
    }
    #container .container1 .content li:hover .hidden .bg{
        opacity: 1;
    }
    #container .container1 .btn a{
        margin-top:20px;
    }
}


/*****(1024-750)*****/
@media screen and (max-width: 1024px){
    #visual{
        padding-top:66px;
        background-position: right 66px;
        background-size:auto;
        margin-top: 66px;
		background: url("../img/m_conpany_bg.jpg") no-repeat;
		background-size: cover;
    	background-position: center center;
    	background-attachment: fixed;
    }
    #visual .wrapper .location{
        top:17px;   
    }
    #container .container1 .content li a .desc .type .type_dot::after{
        width: 8%
    }
}
/*****(780)*****/
@media screen and (max-width: 780px){
    #visual{
        background-position: right 55px;
        padding-top: 55px
    }
    #visual .wrapper .location{
        top:25px;
    }
    #visual .wrapper .visualwrap::after{
        width:10%;
		top: 240px;
    }
    #visual .wrapper .visualwrap .visual_desc{
        width: 100%;
        margin-top: 120px;
        padding-right: 6.5%;
    }
    #container .container1 {
        margin-bottom: 70px;
        margin-top: 91px
    }
    #container .container1 .content li{
        width: 100%;
        margin-right:0;
    } 
    #container .container1 .content li:nth-child(2){
        margin-top: 100px;
        opacity: 0;
    }
    #container .container1 .content li:nth-child(23){
        margin-bottom: 70px;
    }
    #container .container1 .content li a{
        height: 55vw;
    }
    #container .container1 .content li a .hidden .bg{
        height: 55vw;
    }
    #container .container1 .content li a .desc .type .type_dot::after{
        width: 5.5%;
    }
    #container .container1 .btn{
        text-align: left;
    }
    #container .container1 .btn a{
        font-size: 2.8rem;
        border: none;
        font-weight: 700;
        margin-top: 0;
        padding: 0;
    }
}
/***********(480)**********/
@media screen and (max-width: 480px){
    #visual{
        padding-top: 50px
    }
    #visual .wrapper .location{
        font-size: 2.2rem;
        top:15px;
    }
    #visual .wrapper .visualwrap .tit{
        font-size: 4.7rem;
    }
    #visual .wrapper .visualwrap::after{
        width:382px;
        top:130px
    }
    #visual .wrapper .visualwrap .visual_desc{
        margin-top: 67px;
        padding-right: 8%;
        font-size: 1.5rem
    }
    #visual .wrapper .scroll_down{
        right: -7.5%;
        font-size: 1.2rem
    }
    #container .container1{
        margin-top: 70px;
        margin-bottom: 40px;
    }
    #container .container1 .btn a{
        font-size: 2rem;
    }
}
/*****(320)*****/
@media screen and (max-width: 320px){ 
    #visual .wrapper .visualwrap .visual_desc{
        padding-right: 9.5%;
    }
}
























