#visual .visual_img{
    background-image: url(../img/project28/personal28_visual.png);
	background-position: center;
	background-repeat: no-repeat;
}
#container h3.sub_tit{
	font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Nexa';
	box-sizing: border-box;
}
#container p.desc,
#container p.desc1,
#container p.desc2{
	line-height: 1.5;
    font-size: 1.7rem;
	margin-bottom: 15px;
}

#container .container2 .sub_tit1{
	width: 100%;
	float: none;
}

#container .container2 .desc img{
	width: 100%;
}
#container .container2 ul{
	margin-top: 30px;
}
#container .container2 ul li p{
	float: left;
	line-height: 2;
	margin-bottom: 10px;
}
#container .container2 ul li p.color{
	width: 5px;
	height: 5px;
	margin-right: 10px;
	margin-top: 15px;
	border-radius: 7px;
	background: #222;
}

#container .container2 .desc_img{
	width: 83%;
	margin: 0 auto;
	margin-top: 70px;
}
#container .container2 .desc_img img{
	width: 100%;
}

#container .container3{
    padding: 0 40px;
    width: 83%;
    max-width: 1245px;
    text-align: center;
	box-sizing: border-box;
}
#container .container3 ul li{
	float: left;
	width: 50%;
}
#container .container3 ul li p{
	margin-bottom: 40px;
}
#container .container3 ul li p.con3_tit{
	font-size: 2rem;
	font-weight: 700;
    font-family: 'Nexa';
}
#container .container3 ul li p img{
	width: 100%;
}

#container .container4{
	margin-top: 80px;
    padding: 0 40px;
    box-sizing: border-box;
    width: 83%;
    max-width: 1245px;
    text-align: left;
}
#container .container5{
	width: 100%;
	overflow: hidden;
	background: #e4e3e3;
}
#container .container5 img{
	width: 100%;
}
#container .container6{
    padding: 0 40px;
    box-sizing: border-box;
    width: 83%;
	margin: 0 auto;
	margin-top: 80px;
    max-width: 1245px;
    text-align: left;
}
#container .container6 img{
	width: 100%;
}

/**********(1200)***********/
@media screen and (max-width: 1200px){
	#container .container3{
		width: 92%;
	}
	#container .container4{
		width: 92%;
	}
	#container .container6{
		width: 92%;
	}
}
/*****(1024-780)*****/
@media screen and (max-width: 1024px){
	#container .container2 .desc_img{
		width: 100%;
	}
}
/*****(780)*****/
@media screen and (max-width: 780px){
	#container .container3{
		padding: 0;
	}
	#container .container3 .sub_tit{
    	font-size: 3rem;
	}
	#container .container3 ul li{
		float: none;
		width: 100%;
		text-align: left;
	}
	#container .container4{
		margin-top: 60px;
    	padding: 0;
	}
	#container .container6{
		margin-top: 60px;
    	padding: 0;
	}
}
/***********(480)**********/
@media screen and (max-width: 480px){
	#container .container2 ul li p.bgcolor_tit{
		font-size: 1.5rem;
	}
	#container .container3{
		margin-top: 40px;
	}
	#container .container3 .sub_tit{
		margin-bottom: 6px;
    	font-size: 2rem;
	}
	#container .container3 ul li p.con3_tit{
		font-size: 1.5rem;
	}
	#container .container4{
		margin-top: 40px;
	}
	#container .container6{
		margin-top: 40px;
	}
}
/*****(375)*****/
@media screen and (max-width: 375px){  
}
/*****寃붾윮��(360)*****/
@media screen and (max-width: 360px){ 
}














